ENVIRONMENT=staging
RELEASE=project@1.0.0+a1b2c34

SENTRY_DSN=
OTLP_ENDPOINT=http://localhost:4318/v1/traces
PROJECT_NAME=my-project
NER_API_URL=https://stag-api-gdplabs-ner-api.obrol.id 
NER_API_KEY=